/* ========== FOOTER COMPONENT ========== */

.site-footer {
  background: #121f30;
  padding-top: 5rem;
  color: var(--clr-bg-secondary);
}

.footer-grid {
  display: grid;
  grid-template-columns: 2.25fr 1fr 1fr 1fr;
  gap: 3rem;
  align-items: start;
  padding-bottom: 4rem;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 2.5rem;
}

.footer-logo {
  width: 50%;
}

.footer-title {
  font-size: clamp(2.5rem, 5vw, 3rem);
  font-weight: 700;
  color: #fff;
  margin: 0 0 2rem 0;
  line-height: 1.1;
}

.footer-address,
.footer-contact {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-col-title {
  font-size: 1.5rem;
  font-weight: 600;
  color: #fff;
}

.footer-address div,
.footer-contact div {
  color: #b8b8b8;
}

.footer-address-block {
  font-style: normal;
  color: #b8b8b8;
}

.footer-mail-link,
.footer-call-link {
  color: #b8b8b8;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: inline-block;
  transition: color 0.2s;
}

.footer-mail-link:hover,
.footer-call-link:hover {
  color: var(--clr-bg-secondary);
}

.social-icons {
  display: flex;
  gap: 1.2rem;
  margin-top: 0.75rem;
}

.social-icons a {
  width: 3rem;
  height: 3rem;
  border: 1px solid var(--clr-text-secondary);
  border-radius: 50%;
  color: var(--clr-bg-secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 0.2s;
}

.social-icons a:hover {
  border: 1px solid var(--clr-bg-secondary);
}

.social-icons a i {
  font-size: 1.25rem;
}

.footer-bottom {
  border-top: 1px solid rgba(184, 184, 184, 0.5);
  padding: 1.5rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #b8b8b8;
}

.footer-bottom-links {
  display: flex;
  gap: var(--spacing-lg)
}

.footer-bottom p {
  color: var(--clr-bg-secondary);
  margin: 0;
}

.footer-hours {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.footer-hours-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-hours-time {
  color: #b8b8b8;
  font-weight: 500;
}

.footer-hours-day {
  color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
}

@media (max-width: 1024px) {
  .footer-grid {
    grid-template-columns: 1fr;
    gap: 2.5rem;
  }
  .footer-brand,
  .footer-address,
  .footer-contact {
    align-items: flex-start;
  }
  .footer-bottom {
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
}

/***********************************************************
 * Whatsapp logo
 ***********************************************************/


 .whatsapp-float {
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 9999;
  width: 60px;
  height: 60px;
}

.whatsapp-icon {
  width: 140%;
  height: auto;
  margin-top: 10%;
}

/* .d-none {
  display: none !important;
} */