/* ========== FOOTER COMPONENT ========== */

.site-footer {
  /* background: url(../../assets/images/footer-back.webp) repeat, #f8f9f9; */
  background: #F9F6EE;
  padding-block: var(--spacing-2xl) 0;
  color: var(--clr-black);
}

.footer-grid {
  display: grid;
  gap: var(--spacing-xl) var(--spacing-2xl);
}

.footer-nav ul {
  list-style: none;
  padding: 0;
}

.footer-link {
  display: block;
  font-size: var(--fs-4xl);
  font-weight: 400;
  line-height: 1.4;
  color: var(--clr-grey-light);
  transition: color var(--trans-fast);
}

.footer-link.active,
.footer-link:hover {
  color: var(--clr-black);
}

.footer-blurb {
  font-size: var(--fs-base);
  line-height: 1.75;
  color: var(--clr-black);
}

.footer-contact {
  font-style: normal;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.contact-line {
  display: flex;
  align-items: center;
  gap: var(--spacing-2xs);
  text-align: right;
}

.contact-line:first-child {
  margin-bottom: var(--spacing-lg);
}

.contact-icon {
  display: inline-block;
  width: var(--fs-base);
  height: var(--fs-base);
  margin-right: var(--spacing-xs);
  background-size: contain;
  background-repeat: no-repeat;
}

.contact-icon.phone {
  background-image: url(../assets/images/icon-phone.svg);
}

.contact-icon.mail {
  background-image: url(../assets/images/icon-mail.svg);
}

.footer-btn {
  margin-top: var(--spacing-md);
}

.footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  margin-top: var(--spacing-xl);
  padding: var(--spacing-sm) var(--spacing-lg) var(--spacing-xl);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: var(--spacing-sm);
  font-size: var(--fs-sm);
}

.footer-social {
  display: flex;
  gap: var(--spacing-sm);
}

.social-icon {
  width: var(--spacing-xl);
  aspect-ratio: 1;
  border-radius: var(--radius-full);
  background: var(--clr-white);
  display: grid;
  place-items: center;
  transition: background var(--trans-fast);
  color: var(--clr-primary);
  padding: var(--spacing-sm);
}

.social-icon:hover {
  background: var(--clr-primary);
  color: var(--clr-white);
}

/* Responsive adjustments */
@media (min-width: 900px) {
  .footer-grid {
    grid-template-columns: 220px 1fr 220px;
    align-items: start;
  }
}

@media (max-width: 899px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }
  
  .footer-link {
    font-size: var(--fs-2xl);
  }
  
  .footer-blurb {
    max-width: 40ch;
  }
  
  .footer-contact {
    align-items: flex-start;
  }

  .contact-line {
    text-align: left;
  }
}

.social-icon > i {
  font-size: var(--fs-base);
}